body {
    font-family: Arial, sans-serif;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.tab:hover {  /* when mouse is hover the tab */
    background-color: #0056b3;
}

.tab.active { /* color when tab is selected */
    background-color: #007bff;
    color: white;
    border-bottom: 2px solid #0056b3;
}

.tab-content { /* border of the tabs inside the tab page */
    padding: 20px;
    border: 1px solid #ccc;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-left,
.button-right {
    margin: 0 10px;
}

.button-left:disabled,
.button-right:disabled {
    background-color: #e0e0e0;
    color: #aaa;
    cursor: not-allowed;
}

.text-center {
    flex-grow: 1;
    text-align: center;
}






/* used for HILO */
.word-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}

/* used for HILO */
.word-column {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center the text horizontally */
}

/* used for HILO */
.word-column p {
    margin: 5px 0;

}

/* used for HILO */
.centered-text {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
}

/* used for HILO */
.right-text {
    float:right;
}



.button-hilo-win {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-hilo-lose {
    background-color: #C81432;
    border: 1px solid #C81432;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-hilo-win:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.button-hilo-lose:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(2px);
}