<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where News Meets Fun</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="tabs">
    <div class="tab" onclick="showTab('search')">search</div>
    {% if not search_not_done %}
    <div class="tab" onclick="showTab('graph')">Topic Map</div>
    <div class="tab" onclick="showTab('readexplore')">read explore</div>
    <div class="tab" onclick="showTab('hilo')">Word Duel</div>
    <div class="tab" onclick="showTab('correlation')">correlation</div>
    {% endif %}
</div>


<div class="tab-content tab-search" id="search" style="display:none;">
    <h1>Topic Explorer</h1>

    <form method="POST" action="/search">
        <input type="text" name="query" placeholder="What would you like to learn about?" value="{{ search_query if search_query else '' }}">
        <button type="submit" name="action" value="search">Search</button>
        <button type="submit" name="action" value="lucky">luck</button>
    </form>
    {% if not search_finised %}
        <p>Available: galp, bcp, edp, sonae, motgil</p>
    {% else %}
        <p>Search results on the tabs or smtg</p>
    {% endif %}
</div>


<div class="tab-content tab-graph" id="graph" style="display:none;">
    <iframe src="/graph" style="width:100%; height: calc(100vh - 120px);" frameborder="0">
        <p>Loading, please wait...</p>
    </iframe>
</div>

<!-- THIS IS NOT HILO, BUT THE CLASSES ARE FROM HILO-->
<div class="tab-content" id="readexplore">
    {% if not not_first_new %}
        <div class="container-starthilo">
            <div class="content-starthilo">
                <h1>Welcome to the "Start Reading" not game!</h1>
                <p></p>
                <form action="/get_first_news" method="POST">
                    <button class="button-hilo-start-game" type="submit">Start Reading</button>
                </form>
                <p></p>
                <div class="rules">
                    <p><strong>Objective:</p></strong></p>
                    <p>Gdhsuiahdisahdishaiduh</p>
                    <p><strong>How to it works:</strong></p>
                    <ul>
                        <li>bla bla bla</li>
                        <li>bla bla bla</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    {% if new_to_read %}
        {% if current %}
            <form action="/rate_news" method="POST">
                <button type="submit" name="rating4new" value="1">1</button>
                <button type="submit" name="rating4new" value="2">2</button>
                <button type="submit" name="rating4new" value="3">3</button>
                <button type="submit" name="rating4new" value="4">4</button>
                <button type="submit" name="rating4new" value="5">5</button>
                <button type="submit" name="rating4new" value="-1">Skip</button>
            </form>
        {% endif %}
        <form action="/news_history" method="POST" class="nav-container">
            <button 
              type="submit" 
              name="news_hist" 
              value="prev" 
              class="button-left"
              {% if no_more_left %} disabled {% endif %}
            >
              prev
            </button>
            
            <p class="text-center">Source: {{ new_to_read }}</p>
            
            <button 
              type="submit" 
              name="news_hist" 
              value="next" 
              class="button-right"
              {% if no_more_right %} disabled {% endif %}
            >
              next
            </button>
        </form>
        <iframe src="{{ new_to_read }}" style="width: 100%; height: 100vh;" onload="disablePrint(this)">
            <p>Loading, please wait...</p>
        </iframe>
    {% endif %}
    <script>
        function disablePrint(iframe) {
            const iframeDocument = iframe.contentWindow.document;
            iframeDocument.body.onbeforeprint = function() {
                // Prevent the print dialog from opening
                return false;
            };
        }
    </script>
</div>

<div class="tab-content" id="hilo">
    {% if not word1 %}
        <div class="container-starthilo">
            <div class="content-starthilo">
                <h1>Welcome to the "Word Duel" game!</h1>
                <p></p>
                <form action="/hiloH_start" method="POST">
                    <button class="button-hilo-start-game" type="submit">Start New Game</button>
                </form>
                <p></p>
                <div class="rules">
                    <p><strong>Objective:</p></strong></p>
                    <p>Guess whether the next word or phrase has been mentioned more or fewer times than the current one in the topic's news.</p>
                    
                    <p><strong>How to Play:</strong></p>
                    <ul>
                        <li>You will be presented with a word or phrase.</li>
                        <li>Your task is to guess if the next word or phrase has been mentioned more or less in the news than the current one.</li>
                        <li>Make your guess by selecting "Higher" (more mentions) or "Lower" (fewer mentions).</li>
                        <li>After making your guess, the current word will be updated to the next one.</li>
                        <li>Keep playing until you want to stop, or you can track your streak of correct guesses!</li>
                    </ul>

                    <p><strong>Anything else?</strong></p>
                    <p>Yes, the considered news stories relate to the period from 2000 to 2020, and were extracted from 33 Portuguese news websites, using <a href="https://arquivo.pt">arquivo.pt</a>. Good luck!</p>
                </div>
            </div>
        </div>
    {% else %}
        <p></p>
        <div class="word-container">
            <div class="word-column">
                <p>{{ word1 }}</p>
                <p>Mentions: {{ word1_mentions }}</p>
            </div>
            <div class="word-column">
                <p>{{ word2 }}</p>
                <form action="/hiloH" method="POST">
                    <button class= "button-hilo-win" type="submit" name="choice" value="more">Higher</button>
                    <button class="button-hilo-lose" type="submit" name="choice" value="less">Lower</button>
                </form>  
            </div>
        </div>
        {% if not winner and not loser %}
            <span class="right-text">Score: {{ score }}</span>
        {% elif winner %}
            <span class="right-text">Score: {{ score }}</span>
            <span class="centered-text">{{ winner }}</span>
        {% elif loser %}
            <span class="centered-text">{{ loser }}</span>
        {% endif %}
    <iframe src="/hilo_plot" width="100%" height="500px" frameborder="0">
        <p>Loading, please wait...</p>
    </iframe>
    {% endif %}
</div>

<div class="tab-content" id="correlation" style="display:none;">
    <h1>TEST corr</h1>
</div>

<script>
    function showTab(tabName) {
        // Hide all tabs
        const tabs = document.querySelectorAll('.tab-content');
        tabs.forEach(tab => tab.style.display = 'none');

        // Show the selected tab
        document.getElementById(tabName).style.display = 'block';

        // Remove active class from all tabs
        const tabButtons = document.querySelectorAll('.tab');
        tabButtons.forEach(tab => tab.classList.remove('active'));

        // Add active class to the clicked tab
        const activeTab = document.querySelector(`.tab[onclick="showTab('${tabName}')"]`);
        if (activeTab) activeTab.classList.add('active');

        // Store the selected tab in localStorage
        localStorage.setItem('lastTab', tabName);
    }

    // Determine the default tab based on a server-side condition
    {% if search_not_done %}
    const lastTab = 'search';
    {% else %}
    const lastTab = localStorage.getItem('lastTab') || 'defaultTab';
    {% endif %}

    showTab(lastTab);
</script>



</body>
</html>
